<!doctype html>
<html>
<head>
    <title>Generate a Canary Token</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Generate a Canary Token</h1>

    <form action="/generate" method="POST">
        <label for="name_of_token">Name your token:</label>
        <input type="text" id="name_of_token" name="name_of_token" required>
        <br><br>

        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>

        <label for="token_type">Token Type:</label>
        <select id="token_type" name="token_type" required>
            <option value="image">Image</option>
            <option value="link">Embedded Link</option>
            <option value="doc">Word Doc</option>
        </select>
        <br><br>

        <button type="submit">Generate Token</button>
    </form>
</body>
</html>
