<!doctype html>
<html>
<head>
    <title>Your Canary Token</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Your Token Was Created</h2>

    <p><strong>Token Name:</strong></p>
    <div style="font-weight: bold; font-size: medium; color: #333;">
        {{ name_of_token }}
    </div>

    <p><strong>Token ID:</strong></p>
    <div style="font-weight: bold; font-size: 1.2em; color: #333;">
        {{ token_id }}
    </div>
    <br>
    <p>Send this link to your decoy target, or save it somewhere. If anyone clicks it, you’ll be alerted.</p>
    <br>

    {% if token_type == 'link' %}
        <p>Use this link:</p>
        <a href="{{ url_for('trigger', token_id=token_id, _external=True) }}">
            {{ url_for('trigger', token_id=token_id, _external=True) }}
        </a>
    {% elif token_type == 'doc' %}
        <br>
        <form action="{{ url_for('generate_doc', token_id=token_id) }}" method="get">
            <button type="download">Download Word Doc</button>
        </form>
    {% elif token_type == 'image' %}
        <br>
        <form action="{{ url_for('generate_image', token_id=token_id) }}" method="get">
            <button type="download">Download Image</button>
        </form>
    {% endif %}

    <br>
    <br>
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Generate New Token</button>
    </form>
</body>
</html>
