<!doctype html>
<html>
<head>
    <title>Your Canary Token</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Your Token Was Created</h2>

    <p><strong>Token Name:</strong></p>
    <div style="font-weight: bold; font-size: medium; color: #333;">
        {{ name_of_token }}
    </div>

    <p><strong>Token ID:</strong></p>
    <div style="font-weight: bold; font-size: 1.2em; color: #333;">
        {{ token_id }}
    </div>
    <br>
    <p>Send this link to your decoy target, or save it somewhere. If anyone clicks it, you’ll be alerted.</p>
    <br>

    <p><strong>Tracking Link:</strong></p>
    <a href="{{ url_for('trigger', token_id=token_id, _external=True) }}">
        {{ url_for('trigger', token_id=token_id, _external=True) }}
    </a>

    <br>
    <br>
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Generate New Token</button>
    </form>
</body>
</html>
